* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .input {
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    padding: 0 5px;
  }
  .form {
    width: 100%;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.section {
  margin: 100px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  margin-bottom: 100px;
}

.button-o {
  text-transform: uppercase;
  background: transparent;
  padding: 17px 22px;
  font-size: 12px;
  color: #507fe1;
  border: 1px solid #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button {
  text-transform: uppercase;
  padding: 25px 45px;
  font-size: 12px;
  color: #ffffff;
  border: none;
  background: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.bg-secondary {
  background: #f1f1f1;
}

h2 {
  margin: 0;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #ddd;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  background: #507fe1;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 42px;
  margin-bottom: 20px;
}

.checkbox-label:before {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
    padding: 12px 18px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 3;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
  font-size: 14px;
  color: #7b7b7b;
}

.navbar .work-email {
  display: block;
  text-decoration: none;
  color: #7b7b7b;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-decoration: none;
  color: #262626;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background: #507fe1;
  z-index: 0;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: .5s;
  transition: .5s;
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  cursor: pointer;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo__desc {
  display: block;
  font-size: 14px;
  color: #7b7b7b;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}

.hero {
  position: relative;
  background: #f1f1f1 url("../image/hero-bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 80px;
  padding-top: 120px;
  padding-bottom: 220px;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  margin-bottom: 60px;
  display: block;
  margin-bottom: 60px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 30px;
}

.hero__button {
  margin-bottom: 100px;
}

.offer {
  padding: 120px 0;
  position: relative;
  height: 700px;
}

.offer-block {
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  width: 1170px;
  background: #fff url("../image/form-bg.png") no-repeat center right;
  background-size: contain;
  padding: 80px;
  -webkit-box-shadow: 0 15px 25px #ccc;
          box-shadow: 0 15px 25px #ccc;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin-bottom: none;
}

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form__group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.form__input {
  width: 100%;
  border-right-width: 0;
}

.form__input:last-child {
  border-right-width: 1px;
}

.form__button {
  height: 80px;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .offer-block {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .offer-block {
    width: 860px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .offer-block {
    width: 100%;
    padding: 0 5px;
    background: #fff url("../image/form-bg.png") no-repeat center right -180px;
    background-size: contain;
  }
  .offer__title {
    font-size: 18px;
  }
  .offer__subtitle {
    font-size: 16px;
  }
  .offer .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer .form__group {
    width: 100%;
  }
  .form__checkbox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .form__checkbox-label {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 375px) {
  .offer__block {
    width: 100%;
    padding: 0 5px;
  }
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  text-align: center;
  width: 33.33%;
  margin-bottom: 100px;
}

.features-block__item img {
  width: 36px;
  height: 36px;
}

@media (max-width: 768px) {
  .features .section-title {
    margin-top: 200px;
    font-size: 24px;
  }
  .features-block__item {
    width: 50%;
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .features-block__item {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */