body
	+light
	color: $text-color
.section
	margin: 100px 0
	&-title
		font-size: 30px
		+bold 
		text-align: center
		margin-bottom: 100px	
.button-o
	text-transform: uppercase
	background: transparent
	padding: 17px 22px
	font-size: 12px
	color: $accent
	border: 1px solid $accent
	+bold
.button
	text-transform: uppercase
	padding: 25px 45px
	font-size: 12px
	color: #ffffff
	border: none
	background: $accent
	+bold
	&-fitting 
		padding: 10px
		text-transform: uppercase
		color: $accent
		background: #fff
		border: none 
		font-size: 11px
	&-add 
		background: lighten($accent, 10)
		padding: 10px
		font-size: 11px
		border: none	
		color: #fff
		text-transform: uppercase
	&-like
		border: none
		background: $accent
		padding: 7.5px 10px
		img 
			display: block
.bg-secondary
	background: $bg-secondary
h2 
	margin: 0
.input
	height: 80px
	padding-left: 30px
	border: 1px solid #ddd
	
input[type="checkbox"]
	display: none
	&:checked + label:before
		background: $accent
.checkbox
	&-label
		display: flex
		align-items: center
		margin-right: 42px
		margin-bottom: 20px
		&:before
			content: ''	
			width: 30px
			height: 30px
			border: 1px solid #ddd
			margin-right: 20px
			cursor: pointer
@media (max-width: 768px)	
	.section
		&-title
			font-size: 24px			
	
@media	(max-width: 576px)
	.button-o
		font-size: 10px
		padding: 12px 18px
	
				


